/* Global Reset */
*{
	margin:0;
	padding:0;
	outline:none;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
}
h1, h2, h3, h4, h5, h6{
	margin-bottom:2rem;
	font:300 9.2rem/1.1 $fontsHeading;
	color: #122832;
}
h2{font-size:6.4rem;}
h3{font-size:3.6rem;}
h4{font-size:2.4rem;}
h5{font-size:1.4rem;}
h6{font-size:1.2rem;}
img{vertical-align:top;}
p{margin:0 0 1.8rem;}
strong{font-weight:bold;}
ul{list-style:none;}
abbr{text-decoration: none;}

a{
	color:$linkcolor;
	text-decoration:none;

	&:hover{
		text-decoration:none;
		color:$linkcolorhover;
	}
	img{border-style:none;}
}
mark{background:none;}

textarea,
button,
input{
	font:300 1.8rem $fonts;
	color: #333;
	-webkit-appearance:none;
	border-radius:0;
}
textarea,
input{
	background: #fff;
}
textarea:extend(input){resize:vertical;}
input[placeholder]{text-overflow:ellipsis;color: #333;}
input::-moz-placeholder{text-overflow:ellipsis;color: #333;}
input:-moz-placeholder{text-overflow:ellipsis;color: #333;}
input:-ms-input-placeholder {text-overflow:ellipsis;color: #333;}
:focus::-webkit-input-placeholder {color: transparent !important;}
:focus::-moz-placeholder          {color: transparent !important;}
:focus:-moz-placeholder           {color: transparent !important;}
:focus:-ms-input-placeholder      {color: transparent !important;}
fieldset{border-style:none;}
label[for], input[type=checkbox], input[type=radio], input[type=submit], button, select{cursor:pointer;}
