$fonts: PTSerif,'Times New Roman', Times, serif;
$fontsHeading: Poppins, Arial, Helvetica, sans-serif;

// rem is based on font size of <html> element, default set to 10px
// so 150rem = 1500px
$pagewidth: 140rem;
$pagewidth-wider: 165rem;

$bodycolor: #666;
$linkcolor: #003;
$linkcolorhover: darken($linkcolor,10%);

$fonts-path: "../fonts/";

@mixin animation($cssrule: all, $delay:.25s, $effect:ease-in-out) {
  transition: $cssrule $delay $effect;
}

@mixin borderradius($rad: 5px) {
  border-radius: $rad;
}

@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}